<main
  class="w-full p-20 h-screen grid grid-rows-12 grid-cols-8 gap-8 bg-slate-800"
>
  <!-- Heartbeat  -->
  <section
    class="bg-blue-950/80 grid grid-rows row-span-12 col-span-3 rounded-lg border-4 border-lime-300/80 p-5"
  >
    <div class="row-span-10">
      <div *ngIf="animatedHeart" class="w-full h-full">
        <app-heartbeat></app-heartbeat>
      </div>
      <div *ngIf="!animatedHeart" class="w-full h-full">
        <app-only-aheart></app-only-aheart>
      </div>
    </div>
    <div class="row-span-1 flex justify-center items-center space-x-8">
      <button
        class="bg-lime-500/80 text-white rounded-lg w-40 h-9"
        (click)="enviarNumero(2)"
      >
        Start
      </button>
      <button
        class="bg-red-500/80 text-white rounded-lg w-40 h-9"
        (click)="detenerAccion()"
      >
        Stop
      </button>
    </div>
  </section>

  <!-- Cell loader  -->
  <section
    class="bg-yellow-400 grid grid-rows row-span-5 col-span-5 rounded-lg border-4 border-lime-300/80 p-5"
  >
    <div class="row-span-4">
      <app-cell-loader></app-cell-loader>
    </div>
    <div class="row-span-1 flex justify-center items-center space-x-8">
      <button
        class="bg-lime-500/80 text-white rounded-lg w-40 h-9"
        (click)="enviarNumero(1)"
      >
        Start
      </button>
      <button
        class="bg-red-500/80 text-white rounded-lg w-40 h-9"
        (click)="detenerAccion()"
      >
        Stop
      </button>
    </div>
  </section>

  <!-- Temperature  -->
  <section
    class="bg-orange-400 grid grid-rows row-span-7 col-span-3 rounded-lg border-4 border-lime-300/80 p-5"
  >
    <div class="row-span-6">
      <app-temperature></app-temperature>
    </div>
    <div class="row-span-1 flex justify-center items-center space-x-8">
      <button
        class="bg-lime-500/80 text-white rounded-lg w-40 h-9"
        (click)="enviarNumero(0)"
      >
        Start
      </button>
      <button
        class="bg-red-500/80 text-white rounded-lg w-40 h-9"
        (click)="detenerAccion()"
      >
        Stop
      </button>
    </div>
  </section>

  <!-- Subject Info  -->
  <section
    class="row-span-7 col-span-2 rounded-lg bg-purple-300 border-4 border-lime-300/80 p-5"
  >
    <app-subject-info></app-subject-info>
  </section>
</main>
