@keyframes lineAnimation {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes dotAnimation {
  0%,
  100% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.8);
  }
}

.animate-line {
  animation: lineAnimation 2s infinite;
}

.animate-dot {
  animation: dotAnimation 1.5s infinite;
}
