<div class="flex-col flex justify-center items-center w-full h-full">
  <div class="relative w-3/6 h-full">
    <!-- Línea vertical -->
    <div class="absolute inset-0 flex justify-center">
      <div class="w-2 h-full bg-blue-300 rounded-2xl animate-line"></div>
    </div>
    <!-- Línea horizontal -->
    <div class="absolute inset-0 flex items-center">
      <div class="w-full h-2 bg-blue-300 rounded-2xl animate-line"></div>
    </div>
    <!-- Línea diagonal 1 -->
    <div
      class="absolute inset-0 flex justify-center items-center transform rotate-45"
    >
      <div class="w-2 h-full bg-blue-300 rounded-2xl animate-line"></div>
    </div>
    <!-- Línea diagonal 2 -->
    <div
      class="absolute inset-0 flex justify-center items-center transform -rotate-45"
    >
      <div class="w-2 h-full bg-blue-300 rounded-2xl animate-line"></div>
    </div>
    <!-- Puntitos en las puntas -->
    <div
      class="absolute top-0 left-[47%] transform -translate-x-4 bg-blue-200 w-4 h-4 rounded-full animate-dot"
    ></div>
    <div
      class="absolute bottom-0 left-[47%] transform -translate-x-1/2 bg-blue-200 w-4 h-4 rounded-full animate-dot"
    ></div>
    <div
      class="absolute left-0 top-[47%] transform -translate-y-1/2 bg-blue-200 w-4 h-4 rounded-full animate-dot"
    ></div>
    <div
      class="absolute right-0 top-[47%] transform -translate-y-1/2 bg-blue-200 w-4 h-4 rounded-full animate-dot"
    ></div>
    <div
      class="absolute top-0 left-1/4 transform -translate-x-7 translate-y-8 bg-blue-200 w-4 h-4 rounded-full"
    ></div>
    <div
      class="absolute bottom-0 left-1/4 transform -translate-x-7 -translate-y-8 bg-blue-200 w-4 h-4 rounded-full"
    ></div>
    <div
      class="absolute top-0 left-3/4 transform translate-x-3 translate-y-8 bg-blue-200 w-4 h-4 rounded-full"
    ></div>
    <div
      class="absolute bottom-0 left-3/4 transform translate-x-3 -translate-y-8 bg-blue-200 w-4 h-4 rounded-full"
    ></div>
    <div
      class="absolute top-1/4 left-1/2 transform -translate-x-1/2 bg-blue-200 w-4 h-4 rounded-full my-2"
    ></div>
    <div
      class="absolute bottom-1/4 left-1/2 transform -translate-x-1/2 bg-blue-200 w-4 h-4 rounded-full"
    ></div>
    <div
      class="absolute top-3/4 left-1/2 transform -translate-x-1/2 bg-blue-200 w-4 h-4 rounded-full my-2"
    ></div>
    <div
      class="absolute bottom-3/4 left-1/2 transform -translate-x-1/2 bg-blue-200 w-4 h-4 rounded-full"
    ></div>
  </div>
</div>
