<form (ngSubmit)="enviarNumero()" class="w-full h-full flex-col flex space-y-4">
  <div class="w-full h-1/2 flex items-center space-x-4">
    <label for="numero" class="w-1/4">Número:</label>

    <input
      type="number"
      class="rounded-lg text-center w-3/4 h-full"
      id="numero"
      name="numero"
      [(ngModel)]="numero"
    />
  </div>
  <div class="w-full h-1/2 flex space-x-4">
    <button
      type="submit"
      class="w-3/4 h-full rounded-lg bg-sky-500 text-white font-bold text-base hover:bg-sky-700 transition-all duration-300 ease-in-out"
    >
      Send selection
    </button>
    <button
      class="w-1/4 h-full rounded-lg bg-red-500 text-white font-bold text-base hover:bg-red-900 transition-all duration-300 ease-in-out"
    >
      Stop
    </button>
  </div>
</form>
