<main class="flex-col flex justify-center items-center w-full h-full">
  <section class="w-full h-4/6">
    <div class="w-full h-5/6">
      <!-- Cuando la temperatura esta entre 0°C y 50°C  -->
      @if (temperature >= 0 && temperature <= 30) {
      <app-snow-flake></app-snow-flake> }

      <!-- Cuando la temperatura esta entre  -->
      @if (temperature > 31 && temperature <= 50) {
      <app-flame></app-flame>}

      <!-- Cuando la temperatura esta entre  -->
      @if (temperature > 50 && temperature <= 100) {

      <app-alert></app-alert>}
    </div>
    <div class="w-full h-1/6 flex justify-center items-center mt-5">
      <h1
        class="px-10 bg-slate-700 text-center text-white font-bold text-2xl rounded-xl"
      >
        {{ temperature }} °C
      </h1>
    </div>
  </section>
  <section class="w-full h-2/6 flex justify-evenly items-center">
    <button
      class="max-w-44 w-44 text-black font-bold py-2 px-4 rounded shadow-lg border-2 border-green-500/50 hover:border-green-700 focus:border-green-400 transition-transform transform hover:scale-105 active:bg-green-600 focus:outline-none"
    >
      Start
    </button>
  </section>
</main>
