.heart {
  width: 100px;
  height: 100px;
  background: #f20044;
  position: relative;
  transform: rotate(-45deg);

  animation: heart 0.6s ease-out infinite;
}

.heart::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #f20044;
  top: -50%;
  border-radius: 100%;
}

.heart::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #f20044;
  right: -50%;
  border-radius: 100%;
}
