.heart {
  width: 150px;
  height: 150px;
  background: #f20044;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px #f20044;
  animation: heart 0.6s ease-out infinite;
}

.heart::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background: #f20044;
  top: -50%;
  border-radius: 100%;
  box-shadow: -10px -10px 90px #f20044;
}

.heart::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background: #f20044;
  right: -50%;
  border-radius: 100%;
  box-shadow: 10px 10px 90px #f20044;
}
